
{% load staticfiles %}

<html>
    <head>
        <title>Gilbut Eungyeong</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static "css/blog.css" %}">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}">
        <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    </head>
    <body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="/">test page</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="{% url 'post_new' %}">write</a></li>
                        <li><a href="/">test2</a></li>
                    </ul>

             <ul class="nav pull-right">
                              <li><a href="#">Node.js</a></li>
                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                      <span>API</span>
                                      <b class="caret"></b>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li><a href="#">Geolocation</a></li>
                                      <li><a href="#">Drag and Drop</a></li>
                                      <li><a href="#">Motion</a></li>
                                  </ul>
                              </li>
                          </ul>

                </div>

                </div>
            </div>
        </div>


    <div class="content container">
        <div class="row">
                                    <div class="span5">
                    <div class="well sidebar-nav">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sollicitudin pellentesque euismod. Etiam eu nulla vitae elit vestibulum tempor sed sodales dolor. Quisque iaculis aliquet metus, at vulputate felis rhoncus quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut pharetra, est a bibendum convallis, massa leo ultricies dui, sed pellentesque risus quam nec odio. Donec at lorem neque, a pulvinar lacus. Aliquam at eleifend neque. Vesti
                    </div>
                </div>
            <div class="span7">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
